@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-8px);
    }

    100%{
        transform:translateY(0);
    }

}

@keyframes pulseGlow{

    0%{
        box-shadow:0 0 10px rgba(124,58,237,.2);
    }

    50%{
        box-shadow:0 0 30px rgba(124,58,237,.5);
    }

    100%{
        box-shadow:0 0 10px rgba(124,58,237,.2);
    }

}